@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap);

body {
    font-family: Lato;
    color: #424551;
    line-height: 1.6;
}

.contact-us {}

.contact-us__container {
    max-width: 1275px;
    margin: 0 auto;
    padding: 100px 15px;
    display: flex;
    justify-content: space-between;
}

.contact-us__image {
    align-self: center;
    padding-right: 15px;
}

.contact-us__img {
    max-width: 100%;
}

.contact-us__main {
    flex: 0 1 56%;
}

.contact-us__text {
    color: #1E212C;
    margin-bottom: 40px;
}

.contact-us__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.contact-us__title {
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
}

.contact-us__body {}

.form {
    display: flex;
    flex-wrap: wrap;
}

.form__section {
    display: flex;
    flex-direction: column;
    flex: 0 1 48%;
    margin-bottom: 24px;
}

.form__section:nth-child(odd) {
    margin-right: 25px;
}

.form__label {
    margin-bottom: 8px;
}

.form__input,
.form__area {
    color: #9A9CA5;
    padding: 13px 16px;
    border: 1px solid #D7DADD;
    border-radius: 4px;
    transition: outline 0.2s ease;
}

.form__input:focus,
.form__area:focus {
    outline: 2px solid #1E212C;
}

.form__message {
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
    margin-bottom: 48px;
}

.form__area {
    min-height: 102px;
    resize: vertical;
}

.form__bottom {
    display: flex;
}

.form__agreement {
    flex: 0 1 50%;
}

.agreement {
    position: relative;
    margin-right: 15px;
}

.agreement__chk {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.agreement__label {
    cursor: pointer;
    display: inline-flex;
    gap: 12px;
}

.agreement__label::before {
    content: '';
    flex: 0 0 16px;
    width: 16px;
    height: 16px;
    border: 1px solid #FF3F3A;
    border-radius: 3px;
    margin-top: 4px;
    transition: background 0.3s ease;
}

.agreement__chk:checked+.agreement__label::before {
    background: #FF3F3A url('../img/check.svg') center / 70% no-repeat;
}

.agreement__text {
    align-self: center;
}

.form__button {
    flex: 0 1 50%;
}

.button {
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
    text-align: center;
    transition: opacity 0.3s ease;
}

.button:hover {
    opacity: 0.9;
}

.button__send {
    font-weight: 700;
    line-height: 3.25;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    padding: 0 117px;
}